<html ng-app>
<head>
  <h1>Gestão de Pessoas</h1>
  <br><title>Projeto Peppo</title></br>

  <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  <script src="scripts/controller.js"></script>
  
  

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="scripts/validator.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body >
	<img src="C:\PROJETO NEPPO\logoneppo.png" width="220" height="80" alt="logo do site Maujor" id="imglogo" />

	<div ng-controller="Controller"<id="cabecario_table">

    <center>


     
      <div ng-show="!!showNewPessoaFields" class = "row" id="newuser">

        <form name="form">

         <label for="txtNewPessoaNome" >Nome: </label>
         <input type="text" id = "txtNewPessoaNome" ng-model="newPessoa.nome" name="txtNewPessoaNome"  required/>
         <span ng-show="form.txtNewPessoaNome.$error.required">.</span>
         <br>


         <label for="txtNewPessoaDtNascimento" > Data Nascimento: </label>
         <input type="date"  id = "txtNewPessoaDtNascimento" ng-model="newPessoa.dataNascimento" name="txtNewPessoaDtNascimento" required/>
         <span ng-show="form.txtNewPessoaDtNascimento.$error.required"></span>
         <br>


         <label for="txtNewPessoaIdentificacao">Identificacao: </label>
         <input type="text"  id = "txtNewPessoaIdentificacao" ng-model="newPessoa.identificacao" name="txtNewPessoaIdentificacao" required/  >
         <span ng-show="form.txtNewPessoaIdentificacao.$error.required"></span>
         <br>


         <label for="txtNewPessoaSexo" >Sexo: </label>
         <input type="text"  id = "txtNewPessoaSexo" ng-model="newPessoa.sexo" name="txtNewPessoaSexo" required/>
         <span ng-show="form.txtNewPessoaSexo.$error.required"></span>
         <br>


         <label for="txtNewPessoaEndereco" >Endereco: </label>
         <input type="text"  id = "txtNewPessoaEndereco" ng-model="newPessoa.endereco" name="txtNewPessoaEndereco" required/>
         <span ng-show="form.txtNewPessoaEndereco.$error.required"></span>






       </form>
       <br><a  ng-click="showNewPessoaFields = !showNewPessoaFields"><button>Voltar</button></a></br>

       <br><button ng-click="addPessoa()" ng-disabled="!form.txtNewPessoaNome.$dirty || !form.txtNewPessoaDtNascimento.$dirty || !form.txtNewPessoaIdentificacao.$dirty || !form.txtNewPessoaSexo.$dirty || !form.txtNewPessoaEndereco.$dirty" />Cadastrar</button></br>

       <h2> A ação de "Cadastrar" somente irá funcionar se todos os campos estiverem preenchidos!!</h2>



     </div>



     <div class="row" ng-show="showPessoaDetail" id="detalhepe">


      <label>Nome : </label>{{pessoaSelecionada.nome}}<br>
      <label>Data Nascimento : </label>{{pessoaSelecionada.dataNascimento}}<br>
      <label>Identificacao :</label>{{pessoaSelecionada.identificacao}}<br>
      <label>Sexo :</label>{{pessoaSelecionada.sexo}}<br>
      <label>Endereco :</label>{{pessoaSelecionada.endereco}}<br>


      <a  ng-click="showPessoaDetail = !showPessoaDetail"><button>Ok</button></a>

    </div>

    <div class="row" ng-show="!!showPessoalter" id="detalhepe" >


      <label>Nome : </label>
      <input type="text" ng-model="pessoaSelecionada.nome" id="txtNewPessoaNome"></br>
      <label>Nascimento : </label>
      <input type="date" ng-model="pessoaSelecionada.dataNascimento" id="txtNewPessoaDtNascimento"></br>
      <label>Identificacao : </label>
      <input type="text" ng-model="pessoaSelecionada.identificacao" id="txtNewPessoaIdentificacao"></br>
      <label>Sexo : </label>
      <input type="text" ng-model="pessoaSelecionada.sexo" id="txtNewPessoaSexo"></br>
      <label>Endereco : </label>
      <input type="text" ng-model="pessoaSelecionada.endereco" id="txtNewPessoaEndereco"></br>


      <a  ng-click="showPessoalter = !showPessoalter"><button>Ok</button></a></br>
      <br><button ng-click="addPessoa()"/>alterar</button></br>


      
    </div class="row"></center>

    <div>
      <table border=1 cellspacing=2 cellpadding=4 bgcolor='white'  class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            
            <th>Nome</th>
            
            <th>Data Nascimento</th>
            
            <th>Identificacao</th>
            
            <th>Sexo</th>
            
            <th>Endereco</th>

            <th>Opcões</th>

            <br><a  ng-click="showNewPessoaFields = true"><button>Cadastrar Nova Pessoa</button></a></br>
            <a  ng-click="showNewPessoaFields = true"><button>Relatorio Gráfico</button></a>


            
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pessoa in pessoas | orderBy:'id'">
            
            
            <td><strong>{{ pessoa.id }}</strong></td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.dataNascimento}}</td>
            <td>{{ pessoa.identificacao }}</td>
            <td>{{ pessoa.sexo }}</td>
            <td>{{ pessoa.endereco }}</td>
            <td>

              <a  ng-click="getidPessoas(pessoa.id)"><button>Visualizar</button></a>
              <a ng-click="getalterPessoas(pessoa.id)"><button>Editar</button></a>
              <a ng-click="getremovPessoas(pessoa.id)"><button>Excluir</button></a>
              
            </td>

            
          </tr>
        </tbody>
      </table>
    </div></div>

    <div ng-controller="DemoController">
      <fusioncharts id="mychartcontainer" chartid="mychart" width="650" height="400" type="msspline" dataFormat= 'json', dataSource="{{dataSource}}" config="{{chartoptions}}">
      </fusioncharts>

    </div>
  </body>

  </html>


