th{ background: gray; padding:10px }
table { border-spacing: 5px; }
#imglogo {
    float:right; 
    margin-top: -70px;
    margin-right: 90px;
}



h1{
    color: #27408B;
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet");
}


body > button {
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;

    border: 0;
    transition: all 0.3s ease 0s;
}

button:hover {
  background: #FFFF00
}


form{

	display: ruby-text-container;
    width: 130px;
}

h2{
	color: #EE3B3B;
}


#detalhepe{

	display: ruby-base-container;
    width: 130px;

}


}